/********* General styling ************/

html {
    font-family: "Montserrat", "Arial Narrow", sans-serif;
    background-color: #c3ded3;
}

body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: aliceblue
}

header {
    padding: 30px 0 30px 0;
    border: 2px solid black;
    background: #234e58;
    text-align: center;
}

header a {
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
}

header a:hover {
    color: darkturquoise;
}

.navbar {
    overflow: hidden;
    background-color: #1f8d8e;
    font-family: "Montserrat", "Arial Narrow", sans-serif;
    font-size: 16px;
}

.navbar a {
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: inherit;
    color: aliceblue;
}

.navbar a:hover,
.dropdown:hover,
.dropbtn,
.dropbtn:hover {
    color: darkturquoise;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7bb8b9;
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    padding: 6px 40px 6px 40x;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: dimgrey;
    font-size: 11px;
    text-align: right;
}

/********* Page *********/

h1 {
    text-align: center;
    background: #234e58;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
}

/* Main */
main * {
    box-sizing: border-box;
}

/* Filter buttons */
.filters {
/*    position: sticky;
    position: -webkit-sticky;
    top: 0; */
    float: left;
    width: 25%;
}

.filters div {
    margin: 15px;
    font-size: 1em;
}

.filters button {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #ddd;
    cursor: pointer;
    font-family: inherit;
    margin: 2px 4px;
    width: 100%;
}

/* Add a turquoise background colour on mouse-over */
.filters button:hover {
    background-color: #7bb8b9;
}

/* Add a dark background color to the active button */
.filters button.active {
    background-color: #1f8d8e;
    color: white;
}

/* Content */
.recipes {
    float: right;
    width: 75%;
}

.content {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.content img {
    width: 30%;
    max-width: 200px;
    float: left;
}

.recipes a {
    text-decoration: none;
    color: inherit;
}

.recipes a:hover h3 {
    text-decoration: underline;
}

h3 {
    margin: 5px;
    text-align: right;
    font-size: 1.5em;
}

h4 {
    margin: 5px;
    text-align: right;
    font-size: 1em;
}

main:after {
    content: "";
    display: table;
    clear: both;
}